/* *{margin:0;padding:0;}
.categoryBox .ebody{
    width:100%;
    margin:0 auto;
    overflow:hidden;
}
.etitle{
    width:100%;
}
.ebody img{
    width:100%;
    display:block;
}
img{
    vertical-align:middle;
    left:-60px;
    width:100%;
    display:block;
}
/* .box .video{
    position:absolute;
    left:468px;
    top:7px;
    z-index:2;
} */
/* #index_flag .ebody .content .ecotent{
    width:100%;
    position: relative;
}
#index_flag .ebody .content .box{
    width:1920px;
    left:50%;
    margin-left:-960px;
} */
.ebody .econtent .ebox .pro2{
    position: absolute;
    color:#fffdff;
    font-size:30px;
} 
